---
import BlogLayout from "@/layouts/BlogLayout.astro";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { getTags } from "@/utils/get-tags";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const tags = await getTags();
---

<Layout title={t('nav.tags')}>
  <BlogLayout>
    <div class="flex flex-col items-center flex-1 my-8">
      <h1 class="text-3xl font-semibold">{t('tags.title')}</h1>
      <ul class="flex flex-wrap justify-center gap-6 mt-8">
        {tags.map((tag) => (
          <li>
            <a href={`/tags/${tag.name}`} class="group flex gap-2 items-center border-b border-grid hover:border-sky-500 dark:hover:border-sky-300">
              <span class="text-sm font-medium text-foreground group-hover:text-sky-500 dark:group-hover:text-sky-300">{`#${tag.name}`}</span>
              <span class="px-2 rounded-full text-xs bg-muted text-muted-foreground group-hover:bg-sky-50 dark:group-hover:bg-sky-800/50">{tag.count}</span>
            </a>
          </li>
        ))}
      </ul>

    </div>
  </BlogLayout>
</Layout>
