---
import PostList from "@/components/PostList.astro";
import { Breadcrumb, BreadcrumbEllipsis, BreadcrumbItem, BreadcrumbLink, BreadcrumbList, BreadcrumbPage, BreadcrumbSeparator } from "@/components/ui/breadcrumb";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { generateCategorySlugs } from "@/utils/get-categories";
import { getPostsByCategory } from "@/utils/getPosts";
export async function getStaticPaths() {
	const slugs = await generateCategorySlugs();
  
  return slugs.map(slug => ({
    params: { slug },
  }))
}
const { slug } = Astro.params;
const category = slug.split('/');

const posts = await getPostsByCategory(category);
const leafCategory = category.pop()

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={`${t('nav.categories')}: ${leafCategory}`}>
  <div class="mx-auto w-full max-w-3xl">
    <div class="flex items-center h-16 border-b border-grid">
      <Breadcrumb>
        <BreadcrumbList>
          <BreadcrumbItem>
            <BreadcrumbLink href="/categories">{t("nav.categories")}</BreadcrumbLink>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          {category.length >= 2 && (
            <BreadcrumbItem>
              <BreadcrumbEllipsis />
            </BreadcrumbItem>
            <BreadcrumbSeparator />
          )}
          {category.length >= 1 && (
            <BreadcrumbItem>
              <BreadcrumbLink href={`/categories/${category.join('/')}`}>{category[category.length - 1]}</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbSeparator />
          )}
          <BreadcrumbItem>
            <BreadcrumbPage>{leafCategory}</BreadcrumbPage>
          </BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>
    </div>
    
    <PostList posts={posts} />
  </div>
</Layout>
